{% extends 'base.html' %}
<html>
    <head>
        <title>login page</title>
    </head>
    <body> 
        {% block body %}
        <h1 align="center" style="margin-bottom: 50px; font-weight:bolder;background-color:gold">Welcome to the login page</h1>
        <form align="center" class="form-center" method ="post" action="loginpage">
            {% csrf_token %}
            <div class="form-group" style="margin-left: 500px;margin-right: 500px;margin-bottom: 20px;">
                <label style="padding: 5;font-weight:bolder;background-color:lightpink">USERNAME</label>
                <input style="font-size: large; height: 40;width:350;" type="text"  name="username" placeholder="Enter name">
            </div>
            <div class="form-group" style="margin-left: 500px;margin-right: 500px;margin-bottom: 20px;">
                <label style=" padding: 5; font-weight:bolder; background-color:lightpink">Password</label>
                <input style="font-size: large; height: 40;width:350;"  type="password"  name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary" style="font-size: larger; font-weight: 900; background-color: lightpink; height: 50; width:150; margin: 30px;color:black;">LOGIN</button>
        </form>
        <div id="msg" style="background-color: lightpink;">
            {% for message in messages %}
            <h3 style="margin-left: 550px;margin-right: 400px;"> {{message}} </h3>
            {% endfor %}
        </div>
        {% endblock %}
    </body>
    <!-- <script>
       
        setTimeout(function() {
          document.getElementById("msg").style.display = "none";
        }, 1000); 
      </script> -->
</html>